*.bz2
*.pyc
*.log
*.aux
*.fdb_latexmk
attention.pdf
*.auxlock
*.bbl
*.blg
attention_simulation_data.tex
bauer-magg-wermter-2014.pdf
bauer-magg-wermter-2014.tar.bz2
*.spl
titlepage.pdf
response-to-reviewers-1.pdf
*.fls
simulation_done
